<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.springbootweb.log.mapper.LogDTOMapper" >
  <resultMap id="BaseResultMap" type="com.example.test.springbootweb.log.domain.LogDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="log" property="log" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, log
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.test.springbootweb.log.domain.LogDTO" >
    insert into t_log ( log)
    values ( #{log,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.test.springbootweb.log.domain.LogDTO" >
    insert into t_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="log != null" >
        log,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="log != null" >
        #{log,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.test.springbootweb.log.domain.LogDTO" >
    update t_log
    <set >
      <if test="log != null" >
        log = #{log,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.test.springbootweb.log.domain.LogDTO" >
    update t_log
    set log = #{log,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>