<settings>
  <pluginGroups>
    <pluginGroup>org.jenkins-ci.tools</pluginGroup>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>

  <offline>false</offline>
  <localRepository>${PWD}/artifacts/m2</localRepository>

  <profiles>
    <!-- Give access to Jenkins plugins -->
  </profiles>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>aliyun maven</name>
      <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>